- The first exercise asks to create two lists, one called countries and another called capitals. 
- To create a list use square brackets [] and put inside the brackets any value, either string, numeric, etc. 
- In Python, index starts from 0. 
- To create a dictionary use curly brackets {}. You need to use pairs of values, the first value is the key and the second is the value; For example, in this dictionary {'spain': 'madrid} the word 'spain' is the key and the word 'madrid' is the value

Exercise 1:

In [1]:
# Define a set of countries and capitals
countries = ['spain', 'france', 'germany', 'norway']
capitals  = ['madrid', 'paris', 'berlin', 'oslo']

Get the index of Paris and print out the country for which is the capital

In [2]:
# to get the index of Paris, you have to include inside the .index() method the "paris" word
ind_paris = capitals.index("paris")

# to print-out the country for which Paris is the capital, you need to include inside countries[] the ind_paris
print(countries[ind_paris])

france

In [3]:
# Now create a dictionary for Europe
europe = { 'spain':'madrid','france': 'paris', 'germany': 'berlin', 'norway': 'oslo' }
print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo'}

Print out the value that belongs to the key 'germany'

In [4]:
# to print the value of a key from a dictionary you have to write the name of the dictionary, followed by a pair of brackets and 
# inside the brackets the respective key
print(europe["germany"])

berlin

Add UK to Europe again

In [5]:
# to add a new key inside a dictionary you have to write the name of the dictionary, followed by a pair of brackets
# and inside the brackets the name of the new key. then you need to assign a value to this new key
europe['uk'] = 'london'
print(europe['uk'])

london

Now create a new dictionary as

In [6]:
europe = {'spain':'madrid', 'france':'paris', 'germany':'bonn',
          'norway':'oslo', 'uk':'london', 'poland':'warsaw',
          'australia':'vienna' }

Fix the capital of Australia

In [7]:
# to update a value inside a dictionary, write the name of the dictionary, followed by a pair of bracket, and then inside the 
# brackets write the name of the key you want to change. then assign a new value to this key
europe['australia'] = 'canberra'
print(europe['australia'])

canberra

Delete back the UK

In [8]:
# to delete an entry inside a dictionary, use the function del. you need to write del() and inside the brackets you have to 
# type the name of the dictionary, followed by a pair of brackets and inside the brackets you have to write the 
# key you want to delete. 
del(europe['uk'])
print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'bonn', 'norway': 'oslo', 'poland': 'warsaw', 'australia': 'canberra'}

We can also define a more complex dictionary of dictionaries as

In [9]:
# this is a dictionary of dictionaries or nested dictionaries
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }

Print out the capital of norway

In [10]:
# to find a specific value within a nested dictionary you have to use not just a key but a pair of keys
print(europe['norway']['capital'])

oslo

Create an additional dictionary entry for Italy

In [11]:
# to add a new entry into a nested dictionary, you have first to create a new dictionary
data = {'capital':'rome','population': 59.83}

# then assign the new dictionary as an entry into the nested dictionary
europe['italy'] = data
print(europe)

{'spain': {'capital': 'madrid', 'population': 46.77}, 'france': {'capital': 'paris', 'population': 66.03}, 'germany': {'capital': 'berlin', 'population': 80.62}, 'norway': {'capital': 'oslo', 'population': 5.084}, 'italy': {'capital': 'rome', 'population': 59.83}}

Exercise 2: 

Let now work with Pandas instead of dictionaries.

In [12]:
# import the pandas library by typing 'import package_name'
import pandas as pd

# create three lists, one for the countries names, a boolean that indicates if they drive right and then a third one indicating 
# the cars per capita
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

# Create dictionary my_dict, using for values the lists defined above
my_dict = {'country': names, 'drives_right': dr, 'cars_per_cap': cpc}

# Build a DataFrame cars from my_dict: cars using the pd.DataFrame function
cars = pd.DataFrame(my_dict)

print(cars)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

Define the index of the dataframe from the row labels

In [13]:
# create a new list that takes for values the countries codes
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']

# assign to the dataframe index the code countries
cars.index = row_labels
print(cars)

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

Upload a dataset on the 10-year interest rates 'GS10' and the Federal Funds Rate 'Fed' which are contained in the 'data.csv which provided in your folder

In [1]:
# df = pd.read_csv('data.csv', index_col = 0)

Provide a summary of the data

In [ ]:
# df.describe

Calculat the mean, median and standard deviation of the interest rates

In [ ]:
#avg    = df.
#median = df.
#std    = df.

Plot the time series of 10-year interest rates GS10

In [ ]:
#import ? as plt
#df[''].plot(ylabel = '10yrs')
#plt.show()

Print out the observation for a specific date

In [ ]:
#date = '01/07/1987'
#print(df.loc[])

Print out the observations for two specific dates

In [ ]:
#date_1 = '01/07/1987'
#date_2 = '01/10/2019'
#print(df.loc[])

Print out the observation in the position 250th

In [ ]:
#ind = 250
#print(df.iloc[])

Plot the scatter of the 10-year and the fed fund rate

In [ ]:
#plt.scatter(df['GS10'],...)
#plt.show()

Add to the plot the label for the x-axis "10-year rate" and the for the y-axis "Fed fund rate". Write also your preferred title.

In [ ]:
#plt.scatter(df['GS10'],df['Fed'])
#plt.xlabel('')
#plt.ylabel('')
#plt.title('')
#plt.grid(True)
#plt.show()