Exercise 1:

Assume we deposit â‚¬100 in an account which pays 10% annually. 

What would be the value of the deposit after seven year?

In [2]:
investment = 100
interest_rate = 0.1
maturity = 7
deposit_mat = investment * (1 + interest_rate) ** maturity 

print(deposit_mat)

194.87171000000012

Exercise 2:

Assign the value of the deposite after 7 year calculated above to the variable "final_deposit". 

Check if the following code is correct, if not, fix it:

In [3]:
savings = 100
final_deposit = deposit_mat
print('I started with a ' + str(savings) + ' and now I have a final deposit of a ' + str(round(final_deposit,2)))

I started with a 100 and now I have a final deposit of a 194.87

Exercise 3:

Create a list of exchange rates:

eur_gbp = 0.86
eur_usd = 1.22
eur_chf = 1.10
eur_sek = 10.10
eur_jpy = 133.80

In [5]:
eur_gbp = 0.86
eur_chf = 1.10
eur_sek = 10.10
eur_jpy = 133.80
eur_usd = 1.22

rates = [eur_gbp, eur_chf, eur_sek, eur_jpy, eur_usd]

Print the list of the exchange rates

In [6]:
print(rates)

[0.86, 1.1, 10.1, 133.8, 1.22]

Adapt the list of the rates adding a description of each country. Keep the same order as above.

In [24]:
rates =['EURGBP', eur_gbp, 'EURCHF', eur_chf, 'EURSEK', eur_sek, 'EURJPY', eur_jpy, 'EURUSD', eur_usd]

Print the new list of exchange rates

In [8]:
print(rates)

['EURGBP', 0.86, 'EURCHF', 1.1, 'EURSEK', 10.1, 'EURJPY', 133.8, 'EURUSD', 1.22]

Create the information on all exchange rates as a list of lists

In [11]:
fxmarket = [["EURGBP", eur_gbp],
            ["EURCHF", eur_chf],
            ["EURSEK", eur_sek],
            ["EURJPY", eur_jpy],
            ["EURUSD", eur_usd]]

Print out the information on the FX rates you just created

In [12]:
print(fxmarket)

[['EURGBP', 0.86], ['EURCHF', 1.1], ['EURSEK', 10.1], ['EURJPY', 133.8], ['EURUSD', 1.22]]

Exercise 4: 

We should now learn how to slice and select data within a list

Take the list of rates you created before. 

Print out the first element

In [16]:
print(rates[0])

EURGBP

Print out the last element

In [17]:
print(rates[-1])

1.22

Print out the exchange rate EUR vs CHF

In [18]:
print(rates[3])

1.1

Assuming the GBPCAD = 1.71

Calculate the exchange rate EURCAD

In [21]:
gbp_cad = 1.71
gbp_eur = 1/eur_gbp
eur_cad =  gbp_cad/gbp_eur
print(eur_cad)

1.4706

Append the value of the eur_cad at the end of the list "rates"

In [25]:
rates = rates + ['EURCAD', 1.4706]
print(rates)

['EURGBP', 0.86, 'EURCHF', 1.1, 'EURSEK', 10.1, 'EURJPY', 133.8, 'EURUSD', 1.22, 'EURCAD', 1.4706]

Use slicing to separate the countries extra EU vs those in the EU.

In [28]:
extra_eu = rates[6:]
eu       = rates[:6]
print(extra_eu)
print(eu)

['EURJPY', 133.8, 'EURUSD', 1.22, 'EURCAD', 1.4706]
['EURGBP', 0.86, 'EURCHF', 1.1, 'EURSEK', 10.1]

Exercise 5:

Let's learn how to maniulate lists now. 

Create the list of rates as above.

In [29]:
eur_gbp = 0.86
eur_chf = 1.10
eur_sek = 10.10
eur_jpy = 133.80
eur_usd = 1.22

rates = ['EURGBP', eur_gbp,
         'EURCHF',eur_chf,'EURSEK', eur_sek, 
         'EURJPY',eur_jpy,'EURUSD', eur_usd, 'EURCAD', eur_cad]

Correct the exchange rate EURGBP by reducing the value by 0.1

In [30]:
rates[1] = rates[1] - 0.1

Replace the EURJPY with the EURAUD with eur_aud = 1.58.

In [32]:
eur_aud = 1.58
rates[6] = 'EURAUD'
rates[7] = eur_aud
print(rates)

['EURGBP', 0.76, 'EURCHF', 1.1, 'EURSEK', 10.1, 'EURAUD', 1.58, 'EURUSD', 1.22, 'EURCAD', 1.4706]

Exercise 6: 

Let learn how to work with functions.

In [34]:
# Create a vector of annualised interest rates for 5 different maturities for the US and the EU

irates_usd = [0.02, 0.02, 0.04, 0.09, 0.12]
irates_eur = [0.01, 0.03, 0.052, 0.073, 0.09]

Print out the type and length of irates_usd

In [36]:
print(type(irates_usd))
print(len(irates_usd))

<class 'list'>
5

Print out the index of 0.04 in the US interest rates. Print out the index of 0.03 for the EUR interest rates.

In [39]:
print(irates_usd.index(0.04))
print(irates_eur.index(0.03))

2
1

Print out how often the value 0.02 appears for the US interest rates

In [40]:
print(irates_usd.count(0.02))

2

Use the command append to include the 10-year rate for both US = 0.15 and EUR = 0.13. Then print out both.

In [41]:
irates_usd.append(0.15)
print(irates_usd)
irates_eur.append(0.13)
print(irates_eur)

[0.02, 0.02, 0.04, 0.09, 0.12, 0.15]
[0.01, 0.03, 0.052, 0.073, 0.09, 0.13]

Reverse the order of the interest rates

In [46]:
irates_usd.reverse()
print(irates_usd)

[0.15, 0.12, 0.09, 0.04, 0.02, 0.02]